<!-- Blog Entries Column -->
<div class="col-md-8">
  <% @classifications.each do |classification| %>
      <%= content_tag :h2, link_to(classification.name, classification) -%>
  <p class="lead">
    Por <a href="index.php">RoR</a>
  </p>
  <p><span class="glyphicon glyphicon-time"></span> Postado <%=l classification.created_at, format: :basic  -%> </p>
  <hr>
  <!--
  <img class="img-responsive" src="http://lorempixel.com/900/300/technics/Apply/" alt="">
  <hr>
  -->
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
  <a class="btn btn-primary" href="post.html">Detalhes <span class="glyphicon glyphicon-chevron-right"></span></a>

  <hr>
    <% end %>

  <!-- Paginação-->
  <ul class="pager">
    <li class="previous">
      <a href="#">&larr; Anterior</a>
    </li>
    <li class="next">
      <a href="#">Próximo &rarr;</a>
    </li>
  </ul>

</div>