<!-- Blog Entries Column -->
<div class="col-md-8">
  <% @ideas.each do |idea| %>
      <%= content_tag :h2, link_to(idea.name, idea) -%>
      <%= content_tag :h2, link_to(idea.description, idea) -%></p>
  <p class="lead">
    Por <a href="#"><%= idea.user.email -%></a>
  </p>
  <p><span class="glyphicon glyphicon-time"></span> Postado <%=l idea.created_at, format: :basic  -%> </p>
  <hr>

  <hr>
    <% end %>
  <!-- Paginação-->
  <ul class="pager">
    <li class="previous">
      <a href="#">&larr; Anterior</a>
    </li>
    <li class="next">
      <a href="#">Próximo &rarr;</a>
    </li>
  </ul>

</div>
