<!-- Blog Sidebar -->
<div class="col-md-3 sidebar">

  <!-- Blog Categroias -->
  <div class="well">
    <h4>Classifications</h4>
    <div class="row">
      <div class="col-lg-4">
        <ul class="list-unstyled">
      <% Classification.all.each do |classification| %>

          <li>
            <%= link_to classification.name, '#' -%>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
